body{
  background-color: white;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.tournament{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 54, 118, 0.9);
  border: 2px double black;
  border-radius: 10px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  transition: top 1s ease;
}

.tournament.visible {
  top: 50%;
  transition: top 1s ease;
}

.tournament.hidden {
  top: 150%;
}

.text-tournament{
  opacity: 100%;
  font-size: 40px;
  color: black;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('./Ethnocentric.otf') format('opentype');
}

.Tinput {
  background-color: rgba(0, 54, 118);
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  font-family: 'Ethnocentric';
  border-radius: 2px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: #00001d;
  padding-top: 15px;
  padding-left: 10px;
  background: transparent;
  transition: border-color 0.2s;
}

.Tinput::placeholder {
  color: transparent;
}

.Tinput:placeholder-shown ~ .Tlabel {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.Tgroup {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  width: 50%;
}

.Tlabel {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  opacity: 0.6;
}

.Tinput:focus ~ .Tlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  background: linear-gradient(to right, black, rgb(7, 15, 26));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

@supports not (-webkit-background-clip: text) {
  .Tinput:focus ~ .Tlabel {
   background: transparent;
  }
}

.Tinput:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, black, rgba(1, 34, 74));
  border-image-slice: 1;
}

.Tinput:required,
.Tinput:invalid {
  box-shadow: none;
}

.matchTournament{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchPlayer1{
  color: black;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, rgba(0, 0, 200, 1), rgba(0, 0, 200, 0.2));
  align-self: flex-start;
  margin-top: 150px;
  margin-left: 20px;
  border-radius: 15px;
}

.matchPlayer2{
  color: black;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, rgba(0, 0, 200, 1), rgba(0, 0, 200, 0.2));
  align-self: flex-end;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.matchVS{
  color: #0000c8;
  font-size: 4rem;
  align-items: safe;
}

.decompte{
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 10rem;
}

.resultTournament{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textWinner{
  font-size: 2rem;
}

@keyframes glow {
  from {
    color: #000000;
    text-shadow: 0 0 10px #0000c8, 0 0 20px #0000c8, 0 0 30px;
  }
  to {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 20px #0000c8, 0 0 30px #0000c8, 0 0 40px;
  }
}

.winner {
  font-size: 3.5rem;
  margin-top: 3%;
  animation: glow 2s ease-in-out infinite alternate;
}

.btnNextMatch{
  margin-top:10%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnNextMatch:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnNextMatch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnNextMatch:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnPlayMatch{
  margin-top:10%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnPlayMatch:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnPlayMatch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnPlayMatch:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnExitMatch{
  margin-right: 2%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnExitMatch:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnExitMatch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnExitMatch:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnStartMatch{
  margin-left: 2%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnStartMatch:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnStartMatch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnStartMatch:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btn2{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn22{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnExit2Match{
  margin-top: 15%;
  margin-right: 5%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnExit2Match:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnExit2Match::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnExit2Match:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnNewMatch{
  margin-top: 15%;
  margin-left: 5%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnNewMatch:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnNewMatch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnNewMatch:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.scoreDirect{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 2.5rem;
  color: white;
}

.localMatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 54, 118, 0.9);
  border: 2px double black;
  border-radius: 10px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  transition: top 1s ease;
}

.localMatch.visible {
  top: 50%;
  transition: top 1s ease;
}

.localMatch.hidden {
  top: 150%;
}

.text-local{
  opacity: 100%;
  font-size: 40px;
  color: black;
}

.matchLocal{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchPlayer1Local{
  color: black;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, rgba(0, 0, 200, 1), rgba(0, 0, 200, 0.2));
  align-self: flex-start;
  margin-top: 150px;
  margin-left: 20px;
  border-radius: 15px;
}

.matchPlayer2Local{
  color: black;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, rgba(0, 0, 200, 1), rgba(0, 0, 200, 0.2));
  align-self: flex-end;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.matchVSLocal{
  color: #0000c8;
  font-size: 4rem;
  align-items: safe;
}

.buttonLocal{
  padding-top: 7%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.btnPlayMatchLocal{
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnPlayMatchLocal:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnPlayMatchLocal::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnPlayMatchLocal:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnExitMatchLocal{
  margin-right: 6%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnExitMatchLocal:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnExitMatchLocal::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnExitMatchLocal:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.textWinnerLocal{
  font-size: 2rem;
}

@keyframes glow {
  from {
    color: #000000;
    text-shadow: 0 0 10px #0000c8, 0 0 20px #0000c8, 0 0 30px;
  }
  to {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 20px #0000c8, 0 0 30px #0000c8, 0 0 40px;
  }
}

.winnerLocal{
  font-size: 3.5rem;
  margin-top: 3%;
  animation: glow 2s ease-in-out infinite alternate;
  padding-bottom: 7%;
  padding-top: 5%;
}

.onlineLoad{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 54, 118, 0.9);
  border: 2px double black;
  border-radius: 10px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  transition: top 1s ease;
}

.onlineLoad.visible {
  top: 50%;
  transition: top 1s ease;
}

.onlineLoad.hidden {
  top: 150%;
}

.text-online{
  opacity: 100%;
  font-size: 40px;
  color: black;
}

.btnSearch{
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnSearch:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnSearch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnSearch:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnExitMatchOnline{
  margin-right: 6%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnExitMatchOnline:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnExitMatchOnline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnExitMatchOnline:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.buttonOnline{
  padding-top: 15%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}



.botMatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 54, 118, 0.9);
  border: 2px double black;
  border-radius: 10px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  transition: top 1s ease;
}

.botMatch.visible {
  top: 50%;
  transition: top 1s ease;
}

.botMatch.hidden {
  top: 150%;
}

.text-bot{
  opacity: 100%;
  font-size: 40px;
  color: black;
}


.buttonBot{
  padding-top: 15%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.btnPlayMatchBot{
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;

}

.btnPlayMatchBot:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnPlayMatchBot::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnPlayMatchBot:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.btnExitMatchBot{
  margin-right: 6%;
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnExitMatchBot:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnExitMatchBot::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnExitMatchBot:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}























.loader-container {
  display: none;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 30vh; 
}
.loader-container:before { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 50%; 
  z-index: -1; 
  transition: top 1.2s linear 3.1s;
}
.loader-container:after { 
  content: ''; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 50%; 
  z-index: -1; 
  transition: bottom 1.2s linear 3.1s; 
}

.loader-container.done:before {
  top: -50%;
}

.loader-container.done:after {
  bottom: -50%;
}

.progress { 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
  transform-origin: center;
}

.progress .progress__item {
  text-align: center; 
  width: 100px; 
  height: 100px; 
  line-height: 100px; 
  border: 2px solid #fff; 
  border-radius: 50%;
}

.progress .progress__item:before { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 50%; 
  margin-top: -3px; 
  margin-left: 0px; 
  width: 45px; 
  height: 45px; 
  border-top: solid 10px #fff; 
  border-right: solid 10px #fff; 
  border-top-right-radius: 100%; 
  transform-origin: left bottom; 
  animation: spin 3s linear infinite; 
}

.progress.float .progress__item:before { 
  border-top-width: 2px; 
  margin-top: 0px; 
  height: 50px;  
}

.progress.float.shadow .progress__item:before { 
  border-top-width: 2px; 
  margin-top: 0px;
  height: 50px;  
}

.progress.shadow:before { 
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  margin: -43px 0 0 12px; 
  width: 45px; 
  height: 45px; 
  border-top-right-radius: 100%; 
  z-index: -1; 
  transform-origin: left bottom; 
  animation: spin 3s linear infinite; 
}

.progress.shadow:after { 
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 100px; 
  height: 100px; 
  text-align: center; 
  line-height: 100px; 
  border-radius: 50%; 
  margin: -40px 0 0 -40px; 
  z-index: -1; 
  transform-origin: center; 
}

.progress.done .progress__item { 
  opacity: 0; 
  -webkit-animation: done 3.1s; 
  animation: done 3.1s;
  transition: opacity .3s linear 3.1s; 
}

.progress.done .progress__item:before { 
  display: none; 
}

.progress.done:before { 
  display: none; 
}

.progress.done:after { 
  opacity: 0; 
  -webkit-animation: done 3.1s; 
  animation: done 3.1s;
  transition: opacity .15s linear 3.1s; 
}

@keyframes done {
    10%  { transform: scale(1.10); }
    20%  { transform: scale(0.90); }
    30%  { transform: scale(1.07); }
    40%  { transform: scale(0.93); }
    50%  { transform: scale(1.04);}
    60%  { transform: scale(0.97);}
    80%  { transform: scale(1.01);}
    90%  { transform: scale(0.99);}
    100% { transform: scale(1);} 
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}

.loginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 54, 118, 0.9);
    border: 2px double black;
    border-radius: 10px;
    position: absolute;
    width: 700px;
    height: 500px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;
    transition: top 1s ease;
}

.loginPage.visible {
  top: 50%;
  transition: top 1s ease;
}

.loginPage.hidden {
  top: 150%;
}


.form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.signinForm{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid black;
}

.signupForm{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid black;
}

.Winput {
  background-color: rgba(0, 54, 118);
  width: 250px;
  height: 30px;
  font-family: 'Ethnocentric';
  border-radius: 2px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: #00001d;
  padding-top: 15px;
  padding-left: 10px;
  background: transparent;
  transition: border-color 0.2s;
}

.Winput::placeholder {
  color: transparent;
}

.Winput:placeholder-shown ~ .Wlabel {
  font-size: 1rem;
  cursor: text;
  top: 20px;
  width: 130%;
}

.Wgroup {
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  width: 50%;
}

.Wlabel {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  opacity: 0.6;
}

.Winput:focus ~ .Wlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  background: linear-gradient(to right, black, rgb(7, 15, 26));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

@supports not (-webkit-background-clip: text) {
  .Winput:focus ~ .Wlabel {
   background: transparent;
  }
}

.Winput:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, black, rgba(1, 34, 74));
  border-image-slice: 1;
}

.Winput:required,
.Winput:invalid {
  box-shadow: none;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnlogin{
  margin-top:10%;
  height: 50px;
  width: 70%;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 30px;
  color: black;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.btnlogin:hover {
  box-shadow: 1px 1px 200px black;
  color: #0000c8;
  border: none;
}

.btnlogin::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.btnlogin:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.bad{
  color: red;
  font-family: sans-serif;
  font-size: 0.8em;
  width: auto;
}

.profil{
  z-index: 2;
  width: 100%;
  height: 100%;
}

.profilView{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 54, 118, 0.9);
  border: 2px double black;
  border-radius: 10px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  transition: top 1s ease;
}


.stats{
  width: 100%;
  height: 80%;
  margin:5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2%;
  overflow: hidden;
}

.graph1{
  grid-column: 1;
  grid-row: 1;
  position: relative
}

.canv1{
  position: absolute;
  width: 100%;
  height: 100%;
}


.graph2{
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.canv2{
  position: absolute;
  width: 100%;
  height: 100%;
}

.stats1{
  grid-column: 1;
  grid-row: 2;
}

.stats2{
  grid-column: 2;
  grid-row: 1;
}

.history{
  border: 1px solid black;
  grid-column: 3;
  grid-row: 1/3;
  overflow-y: auto;
  overflow-x: hidden;
}

.btnProfil{
  z-index: 2;
  position: absolute;
  background: transparent;
  border: none;
  width: 4.5%;
  height: 6%;
  right: 1%;
  top: 1%;
}

.btn42{
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7%;
}